.km-menu-toggle{
	position: fixed;
	top: 0;
	left: -5px;
	color: #fff;
	width: 50px;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
	background-color: #2a323a;
	border-radius: 0 0 25px 0;
	z-index: 1000;
}
.km-menu-toggle:hover{
	color: orange;
}

@media (min-width: 480px){
	.km-name-small{
		display: none;
	}
}
@media(max-width: 481px){
	.km-name-small{
	font-family: "Novecentowide", Arial, sans-serif;
	color: #f39c12;
	font-size: 20px;
	vertical-align: middle;
	}
	.km-name{
		display: none;
	}
	.km .ba-container{
		padding: 0 20px;
	}
	.register h1{
		font-size: 15px;
	}
		footer .form-desc{
		font-size: 20px;
	}
}
@media (min-width: 806px){
	.km-menu-toggle{
		display: none;
	}
	.km .km-name{
		display: none;
	}
}
@media (max-width: 805px){
	.km .km-name{
	font-family: "Novecentowide", Arial, sans-serif;
	color: #f39c12;
	font-size: 35px;
	vertical-align: middle;
	}
	.km-logo{
		width: 50%;
	}
	.km-menu,
	.km-menu-overlay{
		/*visibility: hidden;*/
		position: fixed;
		top: 0px;
		bottom: 0;
		-webkit-transition: transform .4s, left .4s;
		-moz-transition: transform .4s, left .4s;
		transition: transform .4s, left .4s;
	}
	.km-menu{
		left: -210px;
		width: 200px;
		background-color: #172b37;
		z-index: 999;
		padding: 50px 20px 20px;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		transform: translateX(0%);
	}
	.km-menu-overlay{
		left: 100%;
		right: 0;
		bottom: 0;
		background: rgba(255, 255, 255, .8);
		z-index: 998;
	}
	.km-menu-open .km-menu,
	.km-menu-open .km-menu-overlay{
		/*visibility: visible;*/
	}
	.km-menu-open .km-menu-overlay{
		left: 0;
	}
	.km-menu-open .km-menu{
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		transform: translateX(100%);
	}
	.km-menu li{
	display: block;
	float: none;
	line-height: 46px;
	vertical-align: middle;
	margin-right: 0;
	border-bottom: 1px solid #fff;
	}
	.km-menu li:first-child{
		border-top: 1px solid #fff;
	}
	nav ul li:nth-of-type(3){
		display: none;
	}
	.km-menu a{
		font-size: 20px;
		color: #fff;
		text-align: right;
		line-height: 1.3;
		height: auto;
		margin-right: 0;
		padding: 10px;
		text-decoration: none;
	}
	.km-menu a:hover{
		color: #E94E38;
	}
	.km-menu-open .km-menu-toggle{
		background: #172b37;
	}
	.testimonials .ba-grid .ba-width-1-2:last-child{
		margin-bottom: 60px;
	}
}
@media (min-width: 769px){
	.content-master .responsive-version{
		display: none;
	}
	footer .ba-grid .ba-width-1-3-s:nth-child(1){
	width: 25.5%;
	border-right: 1px dotted rgba(255, 255, 255, 0.5);
	}
	footer .ba-grid .ba-width-1-3-s:nth-child(2){
	width: 25.5%;
	}
	footer .ba-grid .ba-width-1-3-s:nth-child(3){
	width: 48.9%;
	}
}
@media (max-width: 770px){
	.content-master p{
		margin-bottom: 30px;
	}
	.content-master .ba-grid + .ba-grid{
		margin-top: 30px;
	}
	.content-master .full-version{
		display: none;
	}
	.testimonials .ba-width-small-1-1 {
		width: 100%;
	}
	footer .ba-grid .ba-width-medium-1-1-s{
		text-align: center;
	}
	footer .ba-grid .ba-width-medium-1-1-s + .ba-width-medium-1-1-s{
		margin-top: 20px;
	}
	footer .info{
		height: auto;
		padding: 0px;
		border-right: none;
		border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
		padding-bottom: 20px;
	}
	footer .social{
		padding-bottom: 20px;
		border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
	}
	footer .mail-form,
	footer .form-desc{
		padding: 0;
		margin: 0 0 10px;
	}
	footer .ba-grid .ba-width-medium-1-1-s:nth-child(1){
	width: 100%;
	}
	footer .ba-grid .ba-width-medium-1-1-s:nth-child(2){
	width: 100%;
	}
	footer .ba-grid .ba-width-medium-1-1-s:nth-child(3){
	width: 100%;
	}
	footer .ba-grid{
		margin: 0px;
	}
	footer .copyright{
		font-size: 10px
	}
}
@media (min-width: 960px){

}
@media (max-width: 959px){

}
@media (min-width: 1220px){

}
